{#
	/**
	 * Creates a slider from an ACF - Gallery field in the layout builder
	 *
	 * File:        gallery.twig
	 * Component:   gallery
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A ACF.Layout.gallery object
	 *  
	 *
	 * @snippet:
	 * {% embed "layouts/gallery.twig"
	 *    with { classes: "some classes", id: "some-id", object: ACF.Layout.gallery(post.get_field('some_field')) } %}
	 *      {% block body %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{# hack for breaking out of container for edgeless gallery #}
{% if _object.size == 'edgeless' %}
    </div></div>
{% endif %}

{% set _classes = _classes ~ ' ' ~ _object.size %}

{% embed 'page-builder/_base.twig' with {classes: 'c-gallery fill ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
        {% block content %}
            {# Delete public variables so they dont get passed down the line #}
            {% set object     = false %}
            {% set classes    = false %}
            {% set id         = false %}
            {% set element    = false %}

            {% set _gallery_id = 'carousel-'~random() %}
            {% set height = _object.gallery_height ?: 'normal' in _classes ? 235 : 415 %}

            {{ _body }}

            <div class="interactive-gallery" id="{{ _gallery_id }}">
                <div class="slides">
                    {% for image in _object.images %}
                        {% set image = Image(image) %}
                        {% set caption = image.caption ?: false %}
                        <div class="slider-item" data-caption-id="{{ caption ? loop.index : 'blank' }}" data-dot="{{ loop.index }}">
                            <img src="{{ image.src|resize(1400, height, 'top-center') }}" alt="{{ image.alt }}">
                        </div>
                    {% endfor %}
                </div>

                <div class="captions">
                    {% for image in _object.images %}
                        {% set image = Image(image) %}
                        {% set caption = image.caption ?: false %}
                        <div class="caption-item" data-caption-id="{{ caption ? loop.index : 'blank' }}">{{ caption }}</div>
                    {% endfor %}
                </div>

                <ul class="slider-dots">
                    {% for image in _object.images %}
                        <li class="slider-dot" data-dot="{{ loop.index }}"></li>
                    {% endfor %}
                </ul>

                <div class="slider-bottom">
                    <div class="prev control" data-interactive-gallery="prev"></div>
                    <div class="next control" data-interactive-gallery="next"></div>
                </div>
            </div>

            {% include 'page-builder/gallery/styles.twig' %}
            {% include 'page-builder/gallery/scripts.twig' %}

        {% endblock %}
{% endembed %}

{# hack for breaking out of container for edgeless gallery #}
{% if _object.size == 'edgeless' %}
    <div class="widgets-wrapper">
        {% if _menu %}
            <div class="col-xs-12 col-md-9">
        {% else %}
            <div class="col-xs-12">
        {% endif %}
{% endif %}
