{% set _script %}
<script type="text/javascript">
    (function() {
        var gal;
        var $gal = $("#{{ _gallery_id }}");
        $gal.interactiveGallery(
                {
                    aspectRatio: false,
                    height: {{ height }}
                });
        gal = $gal.data('zion.interactiveGallery');
        $(window).on('load', function() {
            $gal.one('afterSwitchImage.interactiveGallery.zion', function() {
                gal.resize();
                gal.prevImage();
            });
            gal.nextImage();
        });
        document.addEventListener('width.resizeEnd.zion', function() {
            gal.resize();
        });
    }());
</script>
{% endset %}
{{ foot_content(_script) }}

