{% set _styles %}
    <style type="text/css">
        @media only screen and (min-width: 0) {
            .c-gallery {
                width: 100%;
                overflow: hidden;
            }
            .c-gallery .interactive-gallery {
                position: relative;
            }
            .c-gallery.fill .interactive-gallery .slider-item img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
            }
            .c-gallery .slides {
                position: relative;
                height: {{ height }}px;
                -webkit-transition: height 0.2s ease-in;
                transition: height 0.2s ease-in;
            }
            .c-gallery .slider-item {
                position: absolute;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .c-gallery .slider-item.active {
                -webkit-transition: opacity 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }
            .c-gallery .slider-item.before {
                opacity: 0;
                -webkit-transition: opacity 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }
            .c-gallery .slider-item.previous {
                opacity: 0;
                -webkit-transition: opacity 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }
            .c-gallery .slider-item.after {
                opacity: 0;
                -webkit-transition: opacity 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }
            .c-gallery .slider-item.next {
                opacity: 0;
                -webkit-transition: opacity 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }
            .c-gallery .slider-dots {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                z-index: 2;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            .c-gallery .slider-dots li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .c-gallery .slider-dots li:after {
                content: '\29BE';
            }
            .c-gallery .slider-dots li.active:after {
                content: '\29BF';
            }
            .c-gallery .slider-bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 1;
                overflow: visible;
            }
            .c-gallery .slider-bottom .control {
                position: absolute;
                bottom: 0;
            }
            .c-gallery .slider-bottom .prev {
                left: 0;
            }
            .c-gallery .slider-bottom .prev:after {
                content: '\2039';
            }
            .c-gallery .slider-bottom .next {
                right: 0;
            }
            .c-gallery .slider-bottom .next:after {
                content: '\203A';
            }
        }
    </style>
{% endset %}

{{ inline_styles('gallery-styles', _styles) }}
