{#
	/**
	 * Creates a google map from. 
	 *
	 * File:        google_map.twig
	 * Component:   google_map
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A ACF.Google_Map object
	 *  
	 *
	 * @snippet:
	 * {% embed "components/google_map.twig" 
	 *    with { classes: "some classes", id: "some-id", object: ACF.Google_Map(post.get_field('some_field')) } %}
	 *      {% block body %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% if _object %}
    {% embed 'page-builder/_base.twig' with {classes: 'c-google_map ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
        {% block content %}
            {# Delete public variables so they dont get passed down the line #}
            {% set object     = false %}
            {% set classes    = false %}
            {% set id         = false %}
            {% set element    = false %}

            {% set _map_container = 'map-' ~ random() %}

            <div id="{{ _map_container }}"></div>
            {{ _body }}

            {% include 'page-builder/google_map/scripts.twig' %}
            {% include 'page-builder/google_map/styles.twig' %}

        {% endblock %}
    {% endembed %}
{% endif %}
