
{{ register_script('google-maps-api', 'https://maps.googleapis.com/maps/api/js?v=3.exp') }}

{% set _script %}
    <script type="text/javascript">
        (function() {
            var lat = {{ _object.map.lat }},
                    lng = {{ _object.map.lng }},
                    item = document.getElementById('{{ _map_container }}');

            function initialize() {
                var map, marker, infoWindow,
                        latLng = {lat: lat, lng: lng},
                        mapOptions = {
                            scrollwheel: false,
                            zoom: 14,
                            center: latLng,
                            styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f7f7f7"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#deecdb"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":"25"}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":"25"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"saturation":"-90"},{"lightness":"25"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"}]},{"featureType":"transit.line","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#e0f1f9"}]}]
                        },
                        mapCanvas = item;

                mapCanvas.style.width = "100%";
                mapCanvas.style.height = "100%";
                map = new google.maps.Map(mapCanvas, mapOptions);
                marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
                infoWindow = new google.maps.InfoWindow({
                    content: '{{ _object.map.address }}'
                });
                marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        })();
    </script>
{% endset %}

{{ foot_content(_script) }}
