{% set _styles %}
    <style type="text/css">
        @media only screen and (min-width: 0) {
            .c-google_map {
                overflow: hidden;
                height: 200px;
            }
        }
        @media only screen and (min-width: 992px) {
            .c-google_map {
                height: 400px;
            }
        }
    </style>
{% endset %}

{{ inline_styles('google_map-styles', _styles) }}
