{#
	/**
	 * A base component with a single block optionally wrapped inside an element.
	 * Because this is used for creating other components, it does not accept
	 * an object.
	 *
	 * File:        index.twig
	 *
	 * @param string classes    Space delimited set of classes
	 * @param string id         An id to assign to this instance
	 * @param string element    An optional wrapping element
	 * @param {}     attributes Key/value pairs to render as attributes on the wrapping element
	 *
	 * @snippet:
	 * {% embed "components/_base.twig"
	 *    with { classes: "some-component-class", id: "some-instance-id", element: 'div', attributes: {'data-toggle': 'some-el'} } %}
	 *      {% block content %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}

{% macro attributes(atts) %}
    {% spaceless %}
        {% set atts = atts|default(false) %}
        {% if atts %}
            {% for att, val in atts %}
                {{ att -}}="{{- val }}"
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endmacro %}



{# Convert public variables to private variable #}
{% set _content    = block('content')|trim %} {# store block content in variable and echo out after deleting public vars #}
{% set _classes    = classes    ?:   false %}
{% set _id         = id         ?:   false %}
{% set _element    = element    ?:   false %}
{% set _attributes = attributes ?:   false %}

{% if _element %}
    {% import _self as el %}
    <{{- _element }} class="{{ _classes }}" id="{{ _id }}" {{ el.attributes(_attributes) }}>
{% endif %}
    {% block never_call_this_block__use_block_content_instead %}
        {# Delete public variables to avoid polution #}
        {% set classes    = false %}
        {% set id         = false %}
        {% set element    = false %}
        {% set attributes = false %}

        {{ _content }}
    {% endblock %}
{% if _element %}
    </{{- element }}>
{% endif %}
