{#
	/**
	 * Generates the widgets
	 *
	 * File:        _base.twig
	 * Component:   page-builder
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A post widget row object
	 *  
	 *
	 * @snippet:
	 * {% embed "third_party/component-page-builder/index.twig" 
	 *    with { classes: "some classes", id: "some-id", object: post widget row(post.get_field('some_field')) } %}
	 *      {% block content %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% if _object %}
    {% for builder in _object %}
    <div class="c-page-builder">


        {# Delete public variables so they dont get passed down the line #}
        {% set object     = false %}
        {% set classes    = false %}
        {% set id         = false %}
        {% set element    = false %}
        {% set attributes = false %}

        {{ _body }}

        {% for section in builder.section %}
            {% set _begin   = '' %}
            {% set _content = '' %}
            {% set _end     = '' %}

            {% set _begin %}
                <div class="container-fluid"><div class="row"><div class="col-xs-12"><div class="widgets-wrapper">
            {% endset %}


            {% set _content %}
                {% for widget in section.widgets %}
                    {% set file = 'page-builder/' ~ widget.acf_fc_layout ~ '/index.twig' %}
                    {% set classes = classes ~ ' page-builder-widget' %}
                    {% embed file with {object: widget, classes: classes} %}
                    {% endembed %}
                {% endfor %}
            {% endset %}

            {% set _end %}
                </div></div></div></div> {# .container-fluid, .row, .col-xs-12, .widgets-wrapper #}
            {% endset %}


            {# render it out #}
            {{ _begin }}
            {{ _content }}
            {{ _end }}

        {% endfor %}

    </div>
{% endfor %}
{% endif %}
