{#
	/**
	 * Run the_content filter over passed content
	 *
	 * File:        content.twig
	 * Component:   content
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A TimberPost object
	 *
	 *
	 * @snippet:
	 * {% embed "components/content.twig"
	 *    with { classes: "some classes", id: "some-id", object: TimberPost(post.get_field('some_field')) } %}
	 *      {% block content %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% embed 'page-builder/_base.twig' with {classes: 'c-content ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
    {% block content %}
        {# Delete public variables so they dont get passed down the line #}
        {% set object     = false %}
        {% set classes    = false %}
        {% set id         = false %}
        {% set element    = false %}

        {{ _object.wysiwyg|apply_filters('the_content') }}
    {% endblock %}
{% endembed %}
