{#
	/**
	 * Generates an oEmbed object from a link. 
	 *
	 * File:        video.twig
	 * Component:   video
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A ACF.oEmbed object
	 *  
	 *
	 * @snippet:
	 * {% embed "components/video.twig" 
	 *    with { classes: "some classes", id: "some-id", object: ACF.oEmbed(post.get_field('some_field')) } %}
	 *      {% block body %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% if _object %}
    {% embed 'page-builder/_base.twig' with {classes: 'c-video ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
            {% block body %}
                {# Delete public variables so they dont get passed down the line #}
                {% set object     = false %}
                {% set classes    = false %}
                {% set id         = false %}
                {% set element    = false %}

                {{ _body }}

                <div class="embed-responsive embed-responsive-16by9">
                    {{ _object.video_link }}
                </div>
            {% endblock %}
    {% endembed %}
{% endif %}
