{#
	/**
	 * Generates a bootstrap accordion
	 *
	 * File:        accordion.twig
	 * Component:   accordion
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A ACF.GlobalLayoutBuilder.layout.columns[0].column_[?].accordion object
	 *  
	 *
	 * @snippet:
	 * {% embed "components/accordion.twig" 
	 *    with { classes: "some classes", id: "some-id", object: ACF.GlobalLayoutBuilder.layout.columns[0].column_[?].accordion(post.get_field('some_field')) } %}
	 *      {% block body %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% if _object %}
    {% embed 'page-builder/_base.twig' with {classes: 'c-accordion ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
            {% block content %}
                {# Delete public variables so they dont get passed down the line #}
                {% set object     = false %}
                {% set classes    = false %}
                {% set id         = false %}
                {% set element    = false %}
                {% set attributes = false %}

                {% set _accordion_id = 'accordion-'~random() %}

                {{ _body }}

                <div class="panel-group" id="{{ _accordion_id }}" role="tablist" aria-multiselectable="false">

                    {% for item in _object.items %}
                        {% set _heading_id = _accordion_id~'-heading-'~loop.index %}
                        {% set _body_id = _accordion_id~'-body-'~loop.index %}

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="{{ _heading_id }}">
                                <h5 class="panel-title">
                                    <a href="#{{ _body_id }}" role="button" data-toggle="collapse" data-parent="#{{ _accordion_id }}" aria-expanded="false" aria-controls="{{ _body_id }}">
                                        <i class="wr-icon-accordion"></i>
                                        {{ item.title }}
                                    </a>
                                </h5>
                            </div>

                            <div class="panel-collapse collapse" id="{{ _body_id }}" role="tabpanel" aria-labelledby="{{ _heading_id }}">
                                <div class="panel-body">
                                    {{ item.content|shortcodes }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

                {% include 'page-builder/accordion/scripts.twig' %}

            {% endblock %}
    {% endembed %}
{% endif %}
