{% set _script %}
    <script type="text/javascript">
        (function() {
            var accordion_id = '{{ _accordion_id }}';
            var collapseable = '.panel-collapse';

            var panels = document.getElementById(accordion_id).querySelectorAll(collapseable);

            $(panels).each(function() {
                var panel = $(this);
                var iframe = panel.find('iframe');

                if(iframe.length) {
                    iframe.css('opacity', 0);
                    panel.on('shown.bs.collapse', function () {
                        iframe.attr('src', iframe.attr('src') + '');
                        iframe.delay(300).animate({
                            'opacity': 1
                        }, 200);
                    });

                    panel.on('hide.bs.collapse', function () {
                        iframe.css('opacity', 0);
                    });
                }
            });
        })();
        // delete this script from dom, keep things clean.
        document.body.getElementsByTagName('script')[document.body.getElementsByTagName('script').length-1].remove();
    </script>
{% endset %}

{{ foot_content(_script) }}
