{#
	/**
	 * Run the_content filter over passed content
	 *
	 * File:        content.twig
	 * Component:   content
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A TimberPost object
	 *
	 *
	 * @snippet:
	 * {% embed "components/content.twig"
	 *    with { classes: "some classes", id: "some-id", object: TimberPost(post.get_field('some_field')) } %}
	 *      {% block content %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% embed 'page-builder/_base.twig' with {classes: 'c-news_articles ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
    {% block content %}
        {# Delete public variables so they dont get passed down the line #}
        {% set object     = false %}
        {% set classes    = false %}
        {% set id         = false %}
        {% set element    = false %}

        {% set _batch_size = function('get_option', 'posts_per_page')  %}

        {% if _object.heading %}
            <div class="heading">
                <h2>{{ _object.heading }}</h2>
            </div>
        {% endif %}

        <div class="content-wrapper">
        {% for set in _object.articles|batch(_batch_size) %}
            {% if loop.first %}
                {% for article in set %}
                    <div class="single-article">
                        {% set article = Post(article) %}
                        <h5><span>{{ article.title }}</span></h5>

                        <div class="summary">
                            {{ article.body_excerpt|apply_filters('the_content') }}
                        </div>

                        <div class="text-right">
                            <a href="{{ article.link }}" class="c-simple-link featured">Read More</a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if _object.articles|length > _batch_size %}
            {% set _loader_id = 'articles-'~random() %}
            <div id="{{ _loader_id }}">

                {% for set in _object.articles|slice(_batch_size)|batch(_batch_size) %}
                    <div class="set collapse" aria-expanded="false" style="height: 0px;">
                    {% for article in set %}
                        <div class="single-article">
                            {% set article = Post(article) %}
                            <h5><span>{{ article.title }}</span></h5>

                            <div class="summary">
                                {{ article.body_excerpt|apply_filters('the_content') }}
                            </div>

                            <div class="text-right">
                                <a href="{{ article.link }}" class="c-simple-link featured">Read More</a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    </div>
                {% endfor %}

                <div class="load-more-buttons">
                    {% for set in _object.articles|slice(_batch_size)|batch(_batch_size) %}
                        {% if loop.first %}
                            <div class="text-center button">
                                <a class="c-simple-link featured" aria-expanded="false" data-toggle="collapse" data-target="#{{ _loader_id }} .set:nth-child({{ loop.index }}).collapse"><strong>Load More</strong></a>
                            </div>
                        {% else %}
                            <div class="text-center button" style="display: none;">
                                <a class="c-simple-link featured" aria-expanded="false" data-toggle="collapse" data-target="#{{ _loader_id }} .set:nth-child({{ loop.index }}).collapse"><strong>Load More</strong></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% include 'page-builder/news_articles/scripts.twig' %}


        </div>
    {% endblock %}
{% endembed %}
