{% set _script %}
    <script type="text/javascript">
        (function($) {
            var current_button = $('#{{ _loader_id }} .load-more-buttons .button').first();
            var setup_next_button = function() {
                current_button.hide();
                current_button = current_button.next();
                console.log(current_button);
                if(current_button.length) {
                    current_button.show();
                    current_button.one('click', 'a', setup_next_button);
                }
            };
            current_button.one('click', 'a', setup_next_button);
        })(jQuery)
    </script>
{% endset %}
{{ foot_content(_script) }}
