{#
	/**
	 * Generates a figure with an optional caption that may be linked.
	 *
	 * File:        Picture.twig
	 * Component:   Picture
	 *
	 * @param string id      The id given to this instance
	 * @param string classes Any additional class given to this instance
     * @param {}     object  A ACF.Global_Layout.layout.rows.columns.column_[?].picture object
	 *  
	 *
	 * @snippet:
	 * {% embed "components/Picture.twig" 
	 *    with { classes: "some classes", id: "some-id", object: ACF.Global_Layout.layout.rows.columns.column_[?].picture(post.get_field('some_field')) } %}
	 *      {% block body %}
	 *          Some content
	 *      {% endblock %}
	 * {% endembed %}
	 */
#}


{# Convert passed options to private variables #}
{% set _body       = block('body')|trim %}
{% set _id         = id ?: false %}
{% set _object     = object ?: false %}
{% set _classes    = classes ?: false %}
{% set _attributes = attributes ?: false %}

{% if _object %}
    {% embed 'page-builder/_base.twig' with {classes: 'c-picture ' ~ _classes, id: _id, element: 'div', attributes: _attributes} %}
            {% block content %}
                {# Delete public variables so they dont get passed down the line #}
                {% set object     = false %}
                {% set classes    = false %}
                {% set id         = false %}
                {% set element    = false %}
                {% set attributes = false %}

                {% set _image = Image(_object.image) %}

                {% if _object.link %}
                    <a href="{{ _object.link }}">
                {% endif %}

                <figure class="text-center">
                    <img src="{{ _image.src }}" alt="" class="img-responsive center-block">
                    {% if _object.caption %}
                    <br>
                    {{ _object.caption }}
                    {% endif %}
                </figure>

                {% if _object.link %}
                    </a>
                {% endif %}

                {{ _body }}
            {% endblock %}
    {% endembed %}
{% endif %}
